<div>
  <ul>
    <li>
      <a href="/users">
        Users
      </a>
    </li>
    <li>
      <a href="/photos">
        Photos
      </a>
    </li>
  </ul>
</div>

<h1> List of photos </h1>

<hr>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Caption
    </th>

    <th>
      Owner
    </th>

    <th>
      Posted
    </th>

    <th>
    </th>
  </tr>

  <%@list_of_photos.each do |display|%>
  <tr>
    <td>
      <img src="<%=display.image%>">
    </td>

    <td>
      <%=display.caption%>
    </td>

    <td>
      <%=display.poster.username%>
    </td>


    <td>
      <%=display.created_at%>
    </td>        

    <td>
      <a href="/photos/<%=display.id%>">
        Show details
      </a>
    </td>
  </tr>
<%end%>